.content {
    flex-grow: 4;
    position: relative;
    margin: 0 150px;
}
.content .con {
    border-bottom: 1px solid thistle;
    margin: 10px;
    padding-bottom: 30px;
}
.content .icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.content .icon a img {
    height: 50px;
}
.content1 {
    height: 100vh;
    position: relative;
}
.con h2 {
    padding: 60px 0;
    color: rgb(0, 130, 130);
}
p {
    color: rgb(65, 65, 65);
}
.travel {
    column-count: 3;
}
.travel img {
    width: 100%;
    border-radius: 15px;
    margin: 5px 0;
}
.travel img:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.5);
}
.anime {
    position: absolute;
}
.content2 form {
    margin: 10px auto;
    margin-right: 10px;
    display: inline-block;
}
.content4 .websets {

    list-style: none ;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: auto;
}
.content4 .websets li {
    width: 120px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    /* background-color: orange;
    border: 1px solid black; */
}

.content4 .websets li:hover {
    font-weight: bold;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}