.content {
    background-color: transparent;
    flex-grow: 4;
    position: relative;
    margin: 0 150px;
}
.content .con {
    border-bottom: 1px solid thistle;
    margin: 10px;
    padding-bottom: 30px;
}
.content .icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.content .icon a img {
    height: 50px;
}
.content1 {
    height: 100vh;
}
.con h2 {
    padding: 60px 0;
    color: rgb(0, 130, 130);
}
p {
    color: rgb(65, 65, 65);
}
.travel {
    column-count: 3;
}
.travel img {
    width: 100%;
}
.travel img:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.5);
}