header {
    /* display: none; */
    height: 100vh;
    background-image: radial-gradient(at right top, rgb(43, 193, 252),rgb(103, 250, 176));    
    text-align: center;
    font-size: 5vh;
    line-height: 100vh;
    text-decoration: underline rgba(185, 185, 185,.5);
    font-weight: bold;
}